@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --tw-gradient-stops: linear-gradient(180deg, #2D66F8 0%, #2A5EE6 52.08%, #2554CC 100%);
}

.input-after::after {
    content: "Forgot password?" !important;
}

body {
    color: rgb(var(--foreground-rgb));
    font-style: normal;
}

* {
    font-family: 'Inter', sans-serif !important;
}

.hover-border-none:hover {
    border: none !important;
    outline: none !important;
}

.radius-8+fieldset {
    border-color: #D8DDE9;
    border-radius: 8px;
}